<launch>

    <arg name="joy_config" default="xbox" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="deadzone" default="0.3" />
    <arg name="autorepeat_rate" default="50" />

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="$(arg deadzone)" />
        <param name="autorepeat_rate" value="$(arg autorepeat_rate)" />
    </node>

    <node name="ovis_control" pkg="ovis_jog_control" type="ovis_control.py" output="screen" />


</launch>
