<launch>
    <arg name="robot_namespace" default="/ovis" />
    <node name="arm" pkg="ovis_arm" type="arm" output="screen" ns="$(arg robot_namespace)">
        <param name="number_of_degree_per_sec" type="int" value="20" />
        <param name="home_position_actuator1" type="double" value="112.595901" />
        <param name="home_position_actuator2" type="double" value="-43.346680" />
        <param name="home_position_actuator3" type="double" value="141.025177" />
        <param name="home_position_actuator4" type="double" value="153.542892" />
        <param name="home_position_actuator5" type="double" value="174.808517" />
        <param name="home_position_actuator6" type="double" value="115.311363" />

        <param name="connection_type" type="string" value="Ethernet" />
        <param name="ethernet/local_ip" type="string" value="192.168.1.161" />
        <param name="ethernet/subnet_mask" type="string" value="255.255.255.0" />
        <param name="ethernet/local_cmd_port" type="string" value="25000" />
        <param name="ethernet/local_broadcast_port" type="string" value="25025" />
    </node>
</launch>