<launch>

  <arg name="kinova_robotType" default="c2s6s000" />
  <arg name="kinova_robotName" default="arm" />
  <arg name="kinova_robotSerial" default="not_set" />
  <arg name="robotIpAddress" default="192.168.84.160" />
  <arg name="use_jaco_v1_fingers" default="false" />
  <arg name="feedback_publish_rate" default="0.1" />

  <node name="$(arg kinova_robotName)" ns="ovis" pkg="kinova_driver" type="kinova_arm_driver" output="screen" cwd="node" args="$(arg kinova_robotType)">
    <rosparam file="$(find ovis_bringup)/config/ovis_parameters.yaml" command="load" />
    <param name="serial_number" value="$(arg kinova_robotSerial)" />
    <param name="robotIpAddress" value="$(arg robotIpAddress)" />
    <param name="robot_name" value="$(arg kinova_robotName)" />
    <param name="robot_type" value="$(arg kinova_robotType)" />
    <param name="use_jaco_v1_fingers" value="$(arg use_jaco_v1_fingers)" />
    <param name="status_interval_seconds" value="$(arg feedback_publish_rate)" />
    <param name="number_of_degree_per_sec" value="5" />
    <param name="loop_per_command" value="50" />
    <param name="home_position_actuator1" value="18.703125" />
    <param name="home_position_actuator2" value="174.750000" />
    <param name="home_position_actuator3" value="94.031250" />
    <param name="home_position_actuator4" value="331.909088" />
    <param name="home_position_actuator5" value="182.659103" />
    <param name="home_position_actuator6" value="302.113647" />
  </node>

</launch>