<launch>
    <!-- Declare args to be passed in -->
    <arg name="gazebo" default="true"/> 
    <arg name="rviz" default="true"/> 
    <arg name="jog" default="true"/> 
    <arg name="moveit" default="true"/> 

    <!-- Arm Description -->
    <include file="$(find ovis_description)/launch/load_urdf.launch"/>

    <!-- Gazebo -->
    <include if="$(arg gazebo)" file="$(find ovis_gazebo)/launch/gazebo.launch">
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- Rviz -->
    <include if="$(arg rviz)" file="$(find ovis_rviz)/launch/rviz.launch">
        <arg name="rviz" value="$(arg rviz)" />
    </include>

    <!-- Move it -->
    <include if="$(arg moveit)" file="$(find ovis_moveit)/launch/planning_execution.launch">
        <arg name="simu" value="true" />
    </include>

    <!-- Jog -->
    <include if="$(arg jog)" file="$(find ovis_jog_control)/launch/jog_control.launch"/>

</launch>